name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Run precommit hooks
        run: |
          pip install pre-commit
          pre-commit run --all-files
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
        id: python

      - name: Run pytest
        run: |
          pip install -r test-requirements.txt
          pytest airflow_client/test
